<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Create a Claim</title>
</head>
<body>
    
    
    

    <div class="registration__container">


        <nav class="nav reg-login--nav nav-dash">
            <h2 class="logo"><a href="/">Pretend<span class="logo-color">Pet</span></a></h2>
    
            <svg class="icon nav__icon iconToggle">
                <use xlink:href="static/images/sprite.svg#menu">
                </use>
              </svg> 
              
              <ul class="list nav__list collapsible__body">
                <li class="nav__item"><a href="/dashboard">Dashboard</a></li>
                <li class="nav__item signup logout"><a href="/logout">Log out</a></li>
            </ul>
        </nav>

        <h2 class="claim__head">Create a New Claim</h2>


        <div class="claim__box">

            
            <div class="claim__bar"></div>
            <div class="claim__form ">
                

                <form action="/createClaim" method="post">

                    <h3 class="claim__title">New Claim</h3>
                    <label for="pet_id">Pet:</label>
                    <select name="pet_id" id="pet_id">
                        {% for pet in all_pets%}
                        <option value="{{pet.id}}">{{pet.pet_name}}</option>
                    
                        {%endfor%}
                    </select>

                    <label for="date_service">Date of Service:</label>
                    <input type="date" name="date_service" class="date_service">
                    <label for="service_tye">Type of Service:</label>
                    <select name="service_type" id="service_type" class="service_type">
                        <option value="Routine">Routine Service</option>
                        <option value="Non-routine">Non-routine Service</option>
                    </select>
                    <label for="vet_name">Veterinian:</label>
                    <input type="text" name="vet_name" class="vet_name">   
                    <label for="charge">Charge:</label>
                    <input type="number" name="charge" class="charge">
                    <label for="description">Descriptiom:</label>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>

                    <button class="btn btn--accent login-reg__btn">Create claim</button>
                </form>
            </div>
        </div>

        

<script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>