:root {
  --color-primary: #725ac1;
  --color-secondary: #8d86c9;
  --color-accent: #ef6b90;
  --color-headings: #242038;
  --color-body: #a39aa9;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, arial, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5;
  font-size: 2.4rem;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
}

.block {
  display: inline-block;
}

.container {
  padding: 0 6rem;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

.logo {
  font-size: 3rem;
  margin: 0;
}
.logo-color {
  color: var(--color-headings);
}

.logo > a:active {
  color: var(--color-primary);
}

/* LINKS */
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
}

.link-arrow:hover::after {
  margin-left: 10px;
  transition: margin 0.15s;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badgess */

.badge {
  display: inline-block;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  white-space: wrap;
  font-size: 2rem;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--sm {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--sm {
    font-size: 1.2rem;
  }
}

/* LISTS */

.list {
  list-style: none;
  color: var(--color-headings);
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0.5rem;
  }
}

/* ICONS */

.icon {
  width: 40px;
  height: 40px;
}

.icon--white {
  fill: #fff;
}

.icon-container {
  display: inline-flex;
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 3rem;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  margin: 1rem 0;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: #8672c8;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background-color: #928eb9;
}
.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background-color: #ea809e;
}

.btn--outline {
  background-color: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* CARDs */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
  width: 100%;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: white;
}

/* PLANS */

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 5rem;
}

.plan__billing-cyle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.card--secondary .badge--secondary {
  background-color: #8372b9;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list__item {
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collapsible__body {
  display: none;
}

.collapsible__expand {
  display: block;
  transition: 0.3s;
}

/* GRIDS */

.grid {
  display: grid;
}

/* Nav Bar */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #f3f3f3;
  flex-wrap: wrap;
}

.nav__icon {
  fill: var(--color-headings);
  opacity: 0.6;
  cursor: pointer;
}

.nav__icon-active {
  fill: var(--color-accent);
  opacity: 1;
  box-shadow: 0 0 3px 0.5px var(--color-accent);
  border-radius: 3px;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav__list {
  width: 100%;
}

.nav__item {
  border-bottom: 1px solid #e6e6e9;
  font-size: 2rem;
}
.nav__item:last-child {
  border-bottom: none;
}
.nav__item > a {
  color: var(--color-headings);
}
.nav__item a:hover,
.nav__item a:active {
  color: var(--color-accent);
  cursor: pointer;
  transition: color 0.3s;
}

.hidden-bar {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .nav__icon {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .signup::before {
    content: "|";
    padding-right: 1.2rem;
  }

  .nav__item {
    font-size: 1.8rem;
    padding: 0 1rem;
    border-bottom: none;
  }

  .hidden-bar {
    display: visible;
  }
}

/* Hero */

.hero__content {
  text-align: center;
}

.hero__tagline {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}
.hero__image {
  width: 100%;
  margin-top: 2rem;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .grid--col-2 {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  .hero__content {
    text-align: left;
    align-self: center;
  }

  .hero {
    border-bottom: 1px solid #e6e6e9;
    margin-bottom: 8rem;
  }
}
/* Benefit section */

.benefit-heading {
  color: var(--color-headings);
  font-size: 5rem;
  text-align: center;
}

.benefit-tagline {
  text-align: center;
  font-size: 2rem;
}

.benefit-title {
  margin: 1rem 0;
  color: var(--color-headings);
  font-size: 3rem;
  letter-spacing: 1.5;
}
.benefit-image {
  width: 100%;
}
.benefit-arrow {
  font-size: 2.2rem;
}

.reverse {
  order: 2;
}
@media screen and (min-width: 1024px) {
  .benefit-section {
    margin: 0 10rem;
  }
  .benefit-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
  }
}

/* Plan Section */

.plan__title {
  text-align: center;
  margin-bottom: 5rem;
  color: var(--color-headings);
}

.plan-area .card {
  box-shadow: 0 0 30px 20px #f3f3f3;
}

.card {
  margin-bottom: 4rem;
}

@media screen and (min-width: 1024px) {
  .plan-area {
    margin: 0 8rem;
  }
  .grid--col-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .card {
    width: 100%;
  }

  .plan__price {
    font-size: 4rem;
  }
}

/* Registration Page */

.reg-login--nav {
  padding: 2rem 0;
  border-bottom: 2px solid rgba(195, 188, 188, 0.498);
}

.registration__container,
.dahshboard__container {
  padding: 0rem 3rem;
}

.registration__title,
.login__title,
.claim__title {
  margin-bottom: 1.6rem;
}

.login-reg__bar,
.claim__bar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 60px;
  width: 100%;
  background-color: var(--color-primary);
}

.login-reg__box,
.claim__box {
  margin-top: 1.2rem;
  max-width: 450px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  background-color: #fff;
}
.registration__image {
  width: 100%;
  height: auto;
}

.login-reg__form,
.claim__form {
  width: 100%;
  padding: 0 5rem;
  font-size: 1.6rem;
}

.login-reg__form form,
.claim__form form {
  display: flex;
  flex-direction: column;
}

.login-reg__form label,
.claim__form label {
  margin-bottom: 1rem;
}

.login-reg__form input,
.claim__form input,
.claim__form select {
  padding: 0.75rem 1.2rem;
  border-radius: 20px;
  border: 1px solid #e6e6e9;
  margin-bottom: 0.75rem;
}

.claim__form textarea {
  border: 1px solid #e6e6e9;
  padding: 1rem;
}

.login-reg__btn,
.claim__btn {
  margin: 2.5rem 0;
}

.validation-box {
  color: red;
}

@media screen and (min-width: 900px) {
  .login-reg__box,
  .claim__box {
    margin: 2rem auto;
    max-width: 900px;
  }

  .login-reg__form {
    padding: 0rem 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    align-items: center;
  }
}

/* LOGIN PAGE */

.login__container,
.dahshboard__container {
  padding: 2rem 3rem;
}

/* Dashboard */

#new-claim {
  color: #fff;
  padding: 0.5rem 2rem;
  font-weight: 300;
  background-color: var(--color-primary);
}

.nav-dash {
  padding: 0 2rem;
}

#add__pet-btn {
  margin: 2rem 0 3rem;
  color: #fff;
  background-color: var(--color-accent);
}
.pet__name {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  display: flex;
}

.add__pet-btn > a {
  cursor: pointer;
  color: #fff;
}

.pet__card {
  max-width: 200px;
  font-size: 2rem;
  box-shadow: none;
  background-color: #fff;
  box-shadow: 0 0 30px 10px #f3f3f3;
}

.dashboard_pet_list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  border-bottom: 2px solid rgba(195, 188, 188, 0.498);
}

.pet__card .card__body,
.pet__card .card__header {
  padding: 0.5rem 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-details,
.dashboard-sidebar-usefullinks,
.dashboard-sidebar-blogs {
  overflow: hidden;
  border: 1px solid #f3f3f3;
  box-shadow: 0 0 30px 10px #f3f3f3;
  border-radius: 7px;
  background-color: #fff;
  color: #000;
  margin: 2rem 0;
}

.claims-details-block {
  padding: 2rem;
}

.claims-details-block p {
  font-size: 2rem;
  margin: 0.5rem;
}

.view-claim-btn {
  margin: 2rem 2rem 4rem;
  font-weight: 300;
}

.bold-text {
  font-weight: bold;
}

.dashboard-sidebar-image-box h4 {
  color: #000;
  padding: 2rem;
}

.sidebar__image {
  width: 100%;
}

.useful-links-header,
.sidebar-blogs-header {
  padding: 0 3rem;
  text-decoration: underline;
  line-height: 1.2;
}

@media screen and (min-width: 900px) {
  .dahshboard__container {
    display: grid;
    grid-template-columns: 65fr 20fr;
    gap: 2rem;
    margin: 0 auto;
  }
  .dashboard__body,
  .dashboard-sidebar {
    margin: 0 3rem;
  }

  .dashboard_pet_list {
    display: flex;
    gap: 4rem;
  }

  .pet__card {
    max-width: 300px;
    display: flex;
  }

  .dashboard_claim-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .claims-details-block {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .claims-details-block p {
    font-size: 1.7rem;
    margin: 0.5rem;
  }

  .useful-links-header,
  .sidebar-blogs-header {
    padding: 0rem 2rem;
  }
}

/* Claim Forms*/

.claim__head {
  text-align: center;
}

@media screen and (min-width: 900px) {
  .claim__box {
    margin: 2rem auto;
    max-width: 500px;
  }
}

/* View Page */

.claim-view-details {
  border: none;
  padding: 0;
}

.claim-view-header,
.claim-details-header {
  background-color: var(--color-primary);
  padding: 1.5rem 3rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
}

.claims-view-block {
  padding: 3rem;
}

.view-claims-details-footer {
  padding: 0rem 3rem;
  margin-bottom: 4rem;
}

.claims-view-details-btn {
  margin-right: 3rem;
}

.claims-view-details-btn {
  font-size: 2rem;
  padding: 0.5 3rem;
  font-weight: 300;
}

#viewToggle {
  fill: var(--color-headings);
}

@media screen and (min-width: 900px) {
  .viewPage__body {
    margin: 2rem auto;
    max-width: 1000px;
  }

  .claims-view-block {
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

/* About Page */

.about-image {
  width: 100%;
}

.about-content {
  padding: 0 4rem;
}

@media screen and (min-width: 900px) {
  .about-box {
    margin: 0 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }

  .about-title {
    font-size: 6rem;
    margin: 2rem 0;
  }

  .about-text {
    font-size: 2.4rem;
  }
}

/* Providers page */

#map {
  width: 100%;
  height: 500px;
}

.provider-map,
.provider-list {
  margin: 2rem;
}

.provider-office_name {
  margin: 2rem 0;
}

.provider-information {
  box-shadow: 0 0 30px 5px #f3f3f3;
  margin: 2rem 0;
  padding: 0 3rem;
  padding-bottom: 2rem;
  border-radius: 7px;
  overflow: hidden;
  background-color: var(--color-primary);
  color: #fff;
}

.provider-information p {
  margin: 1.2rem 0;
  line-height: 1;
  font-size: 2rem;
}

.provider-information a {
  color: #fff;
  cursor: pointer;
}
.provider-information a:hover {
  color: var(--color-accent);
}

.coordinate-box {
  display: none;
}

.provider_search {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.provider_search label {
  font-size: 1.8rem;
  margin: 4rem;
}
.provider_search_bar {
  border-radius: 50px;
  border: 1px solid #e6e6e9;
  margin: 0 2rem;
  padding: 1rem 2rem;
}
@media screen and (min-width: 900px) {
  .provider-lookup-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .provider_search label {
    font-size: 2.2rem;
    margin: 0;
  }
}
